body {
  padding-top: 0rem;
  background-image: url('../images/base.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center bottom;
  background-size: cover;
}
.starter-template {
  padding: 1.5rem 1.5rem;
  text-align: center;
}

// Hide 'Your Juice is Ready' text until 'Brew' button is pressed

#output {
  display: none;
}



// Images

.logo {
  max-width: 50%;
  margin-bottom: 2em;
}

.mini {
  max-width: 10em;
}

// Title

.lead {
  font-family: 'Trebuchet MS', sans-serif;
}


// Font styles

h1 {
  color: black;
}



// Creat Juice Row
.create {
  font-family: 'Playfair Display', sans-serif;
  font-size: 40px;
  padding-top: 2em;
  padding-bottom: 1em;
}

.complete {
  font-family: 'Playfair Display', sans-serif;
  font-size: 40px;
  padding-top: 2em;
}


.row {
  margin-bottom: 1em;
}

#left {
  //border-style: solid;
  margin-right: 0.5em;
  background-color: rgba(255, 255, 255, 0.6);
}

#right {
  //border-style: solid;
  margin-left: 0.5em;
  background-color: rgba(255, 255, 255, 0);
}


.btn-success {
  background-color: #343a40;
  border-color: #343a40;
  margin-bottom: 4em;
  padding-right: 2.5em;
  padding-left: 2.5em;
}



#mission {
  text-align: left;
  width: 70%;
}


// Story Generator

.story {
  padding-bottom: 4em;
}

.juice {
  max-width: 20em;
  margin-bottom: 1em;
}


// Carousel

.carousel-item {
  height: 20em;
}
